/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #EC715F;
}

.header-cont {
  width: 1024px;
  height: 70px;
  display: flex;
  margin: 0 auto;
}

img.logo {
  width: 156px;
  height: 70px;
}

.nav {
  width: 868px;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  line-height: 70px;
}

.nav-list {
  padding: 0px 30px;
}

ul a {
  text-decoration: none;
  color: #FAFAFA;
}

.main-visual {
  width: 100%;
  height: 650px;
  background-image: url("images/mv.png");
  background-repeat:no-repeat;
  background-position:50%;
  background-size: cover;
  color: #FAFAFA;
  text-align: center;
}

.main-visual .heading {
  padding-top: 200px;
  font-size: 64px;
  font-family: Raleway, sans-serif;
}

.main-visual .mv-text {
  padding-top: 10px;
  font-size: 20px;
}

.portfolio {
  width: 100%;
  height: 881px;
  background-color: #ECEFF1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pf-explain {
  width: 1024px;
  text-align: center;
}

.pf-explain .heading {
  padding-top: 90px;
  font-size: 32px;
  font-family: Raleway, sans-serif;
}

h2{
   position:relative;
}

h2::after{
   content:"";
   display:block;
   width:70px;
   height:3px;
   background-color:#ec715f;
   margin: 8px 477px 0px;
}

.pf-text {
  padding-top: 30px;
  font-size: 16px;
}

.pf-pic {
  width: 920px;
  height: 600px;
  padding: 30px 0px 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pf-pic img {
  width: 300px;
  height: 250px;
  padding: 5px;
  object-fit: cover;
}


.feature-cont {
  width: 100%;
  height: 500px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.feature {
  width: 980px;
  height: 200px;
  background-color: red;
}

.profile-cont {
  width: 100%;
  height: 500px;
  background-color: #ECEFF1;
  display: flex;
  justify-content: center;
}

.profile {
  width: 1024px;
  height: 200px;
  background-color: green;
}

.contact-cont {
  width: 100%;
  height: 500px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.contact {
  width: 800px;
  height: 200px;
  background-color: red;
}

.footer {
  width: 100%;
  height: 60px;
  background-color: #EC715F;
}